* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
    
}

.menu {
    width: 1200px;

    display: flex;
    justify-content: space-between;
}