@font-face {
    font-family: 'ReadexPro';
    src: url(fonts/Readex_Pro/ReadexPro-VariableFont_HEXP\,wght.ttf);
    }

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

:root {
    --azul-transparente: #47749450;
    --azul: #477494;
    --cor-para-header: #D7D7D9;
    --cor-para-body: #E2E7EB;
    --cor-para-botao-sabia-mais: #961E1E90;
    --tamanho-de-card-width: 1088px;
    --tamanho-de-card-height: 556px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {
    scroll-behavior: smooth;

    background-color: var(--cor-para-body);

}

body {
    background-image: url(img/bannerplanofundotudo.svg);

    background-repeat: no-repeat;


}

header {
    padding-left: 150px;
    padding-right: 150px;

    background-color: var(--cor-para-header);

}

.container-grid {
    max-width: 1720px;

    margin: 0 auto;
    
}

.menu {
    width: px;
    height: 100px;


    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.menu a {
    color: black;

    font-size: 20px;
    font-family: "ReadexPro";

    text-decoration: none;

    margin-top: 40px;
    margin-bottom: 40px;

}

.banner-logo img {
    margin-top: 200px;
}

#sobre {
    margin-top: 580px;
}

.card-quem-somos {
    margin-left: 632px;

    background-color: var(--azul-transparente);

    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);

    border-radius: 30px;

    padding-top: 42px;
    padding-left: 325px;
    padding-right: 300px;
    
}

.card-quem-somos h2 {
    display: flex;
    justify-content: center;

    font-size: 36px;
    font-family: "ReadexPro";

}

.card-quem-somos p {
    display: flex;
    justify-content: center;

    font-size: 25px;
    font-family: "Roboto";

    margin-top: 88px;

    text-align: center;

}

.card-quem-somos img {
    margin-left: -325px;
    margin-right: -284px;
    margin-top: -375px;

}

.card-o-que-é {
    margin-top: 540px;

    background-color: var(--azul-transparente);

    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);

    border-radius: 30px;

    padding-top: 24px;

}

.card-o-que-é h2 {
    display: flex;
    justify-content: center;

    font-size: 36px;
    font-family: "ReadexPro";

}

.grupo-p-o-que-é p {
    font-size: 25px;
    font-family: "Roboto";

}

.Criamos-desafios-com-regras img {
    margin-left: 24px;
    margin-right: 24px;
}

.Criamos-desafios-com-regras {
    display: flex;
    align-items: center;

    margin-top: 24px;
    margin-bottom: 18px;
}

.Enviamos-notificações img {
    margin-left: 20px;
    margin-right: 24px;

    scale: 90%;
}

.Enviamos-notificações {
    display: flex;
    align-items: center;

    margin-bottom: 18px;
}

.Criamos-uma-galeria {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    stroke-width: 10px;
}

.Criamos-uma-galeria img {
    margin-left: 26px;
    margin-right: 24px;
}

.O-participante-pode {
    display: flex;
    align-items: center;

    margin-bottom: 8px;
}

.O-participante-pode img {
    margin-left: 16px;
    margin-right: 24px;
}

.Estimulamos-a-competição {
    display: flex;
    align-items: center;
}

.Estimulamos-a-competição img {
    margin-left: 19px;
    margin-right: 24px;
}

.card-benefícios {
    margin-top: 550px;
    margin-left: 632px;

    background-color: var(--azul-transparente);
    border-radius: 30px;
    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);

    padding-top: 24px;
}

.card-benefícios h2 {
    display: flex;
    justify-content: center;

    font-size: 36px;
    font-family: 'ReadexPro';

    
}

.primeiro-ul {
    margin-top: 24px;
}

.primeiro-ul {
    margin-left: 300px;
    margin-bottom: 20px;
}


.card-benefícios li {
    font-size: 25px;
    font-family: 'Roboto';

    margin-bottom: 5px;
    
}

.card-sucesso-microsoft-h2 {
    margin-top: 435px;

    width: 1090px;
    
    height: 80px;

    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    font-size: 36px;
    font-family: 'ReadexPro';

}

.card-sucesso-microsoft {

    background-color: var(--azul-transparente);

    border-radius: 30px;

    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);
}

.card-sucesso-microsoft img {
    width: 1088px;
    height: 556px;

    margin-top: -125px;
}

.card-sucesso-microsoft p {
    font-size: 25px;
    font-family: 'Roboto';

    margin-top: -115px;
    margin-left: 24px;
    margin-right: 24px;
}

.card-sucesso-microsoft button {
    background-color: var(--cor-para-botao-sabia-mais);
    
    width: 165px;
    height: 51px;

    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    border: none;

    font-size: 25px;
    font-family: 'Roboto';

    margin-left: 923px;
    margin-top: 32px;
}

.card-sucesso-dominos-pizza-h2 {
    margin-top: 455px;

    margin-left: 960px;

    margin-bottom: 24px;

    font-size: 36px;
    font-family: 'ReadexPro';

}

.card-sucesso-dominos-pizza {

    margin-left: 632px;
    
    background-color: var(--azul-transparente);

    border-radius: 30px;

    width: var(--tamanho-de-card-width);
    height: 557px;


}

.card-sucesso-dominos-pizza img {
    width: 1088px;
    height: 556px;

    margin-top: -130px;


}

.card-sucesso-dominos-pizza p {
    font-size: 25px;
    font-family: 'Roboto';

    margin-top: -125px;
    margin-left: 24px;
    margin-right: 24px;

}

.card-sucesso-dominos-pizza button {
    background-color: var(--cor-para-botao-sabia-mais);

    width: 165px;
    height: 51px;

    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    border: none;

    font-size: 25px;
    font-family: 'Roboto';

    margin-left: 923px;
    margin-top: -13px;

}

.card-sucesso-blue-wolf-h2 {
    margin-top: 450px;

    width: 1090px;
    height: 80px;

    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    font-size: 36px;
    font-family: 'ReadexPro';
}

.card-sucesso-blue-wolf {
    background-color: var(--azul-transparente);

    border-radius: 30px;

    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);
}

.card-sucesso-blue-wolf img {
    width: 1088px;
    height: 556px;

    margin-top: -125px;
}

.card-sucesso-blue-wolf p {
    font-size: 25px;
    font-family: 'Roboto';

    margin-top: -90px;
    margin-left: 24px;
    margin-right: 24px;
}

.card-sucesso-blue-wolf button {
    background-color: var(--cor-para-botao-sabia-mais);
    
    width: 165px;
    height: 51px;

    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    border: none;

    font-size: 25px;
    font-family: 'Roboto';

    margin-left: 923px;
    margin-top: 7px;
}

.grupo-de-cases-card {
    width: 1134px;
    height: 638px;
    background-color: var(--azul-transparente);
    border-radius: 30px;
}

/*  width: 1134px;
    height: 638px */

.carousel-grupo {
    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);

    background-color: var(--azul);

    border-radius: 30px;

    margin-left: 632px;

    margin-top: 520px;
  }

.contatos-p {
    width: 1000px;
    height: 1150px;

    margin-top: 400px;
}

.contatos-p p {
    font-size: 36px;
    font-family: 'Roboto';

}

.form-card {
    background-color: var(--azul);

    background-image: url(img/banner-img-para-contatos.svg);

    background-repeat: none;

    background-position: center;

    border-radius: 30px;

    width: 1000px;
    height: 1100px;

    margin-top: -950px;

    scale: 90%;

}
.form-card img {
    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: none
    ;
}

.form-card {
    padding-top: 80px;
    padding-left: 107px;
    padding-right: 107px;
}

.campo, .campo-textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 24px;
}

.campo label, .campo-textarea label {
    font-size: 25px;
    font-family: 'Roboto';

    margin-bottom: 24px;

    color: white;


}

.campo input {
    width: 787px;
    height: 100px;

    display: flex;
    justify-content: center;

    font-size: 25px;
    font-family: 'Roboto';

    border-radius: 30px;

    border-color: #58585953;
    border-width: 4px;

    padding-left: 48px;

    outline: none;



}
/* Estilização para remover os spin buttons (setinhas) dos input[type='number'] */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.campo input:focus, .campo-textarea textarea:focus {
    outline: solid 4px #71B8EB;
    border-width: 4px;
    border: none;
}

.campo-textarea textarea {
    width: 787px;
    height: 250px;

    display: flex;
    justify-content: center;

    font-size: 25px;
    font-family: 'Roboto';

    border-radius: 30px;

    border-color: #58585953;
    border-width: 4px;

    padding-left: 48px;
    padding-top: 25px;

    outline: none;

    resize: none;

}

.form-card button {
    width: 400px;
    height: 100px;

    background-color: #71B8EB;

    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    font-family: 'Roboto';

    margin-left: 193px;
    margin-top: 30px;

    border: none;

    cursor: pointer;




    transition: background-color 500ms ease;

}

.form-card button:hover {
    background-color: #294358;
}

.footer-button-text {

    display: flex;
    flex-direction: column;

    margin-left: 1333px;

    margin-top: -100px;

}

.footer-button-text a {
    margin-top: 60px;

    font-size: 30px;
    font-family: 'Roboto';

    color: white;

    text-decoration: none;
}

.icones-redes {
    margin-left: 1000px;
    margin-top: 80px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    

    
}

.icones-redes a {
    margin-left: 20px;
}


/* Acho q vai ficar .icones-redes a:hover */

.icones-redes a:hover {
    fill: #71B8EB;
}

.logo-e-informações {
    margin-top: -200px;
}

.info-email-footer {
    height: 80px;
    margin-bottom: 30px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.info-telefone-footer {
    height: 80px;
    margin-bottom: 30px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.info-local-footer {
    height: 80px;
    margin-bottom: 30px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-footer {
    margin-bottom: 30px;
}

.informações-footer img {
    align-items: center;
}


.informações-footer p {
    font-size: 30px;
    font-family: 'Roboto';
    color: white;

    text-decoration: none;

    margin-left: 30px;
}

.info-local-footer {
    margin-bottom: -30px;

    margin-left: 6px;

    height: 100px;
}

@media screen and (max-width: 1920px) {
    body {
        background-size: 100%;
    } 
}

@media screen and (max-width: 1740px) {
    

    .card-quem-somos {
        scale: 90%;
        margin-top: -180px;
    }
    
    .card-o-que-é {
        scale: 90%;
        margin-top: 450px;
    }

    .card-benefícios {
        scale: 90%;
        margin-top: 450px;
    }

    .card-sucesso-microsoft-h2 h2 {
        margin-top: -100px;
    }

    .card-sucesso-microsoft {
        scale: 90%;
        margin-top: -130px;
    }

    .card-sucesso-dominos-pizza-h2 h2 {
        margin-top: -80px;
    }

    .card-sucesso-dominos-pizza {
        scale: 90%;
        margin-top: -0px;
    }

    .card-sucesso-blue-wolf-h2 {
        margin-top: 380px;
    }

    .card-sucesso-blue-wolf {
        scale: 90%;
        margin-top: px;
    }

    .carousel-grupo {
        scale: 90%;
        margin-top: 410px;
    }

    .form-card {
        scale: 85%;
        margin-top: -1000px;
        
    }

    .contatos-p {
        font-size: 30px;
        margin-left: 70px;
    
    }

    .icones-redes {
        scale: 80%;
    }
    
    .logo-e-informações {
        scale: 80%;
        margin-top: -400px;
        margin-left: -40px;
    }
}

@media screen and (max-width: 1680px) {
    .card-quem-somos {
        margin-top: -200px;
    }

    .card-o-que-é {
        margin-top: 420px;
        margin-left: -35px;
    }

    .card-benefícios {
        margin-top: 415px;
    }

    .card-sucesso-microsoft {
        margin-left: -35px;
    }

    .card-sucesso-dominos-pizza-h2 {
        margin-top: 420px;
    }

    .card-sucesso-dominos-pizza {
        margin-top: -10px;
    }

    .card-sucesso-blue-wolf-h2 {
        margin-top: 330px;
    }

    .card-sucesso-blue-wolf {
        margin-top: -10px;
    }

    .form-card {
        scale: 70%;
        margin-top: -1100px;
    }

    .button-e-redes {
        margin-left: -200px;
        margin-top: -200px;
    }

    .logo-e-informações {
        margin-top: -300px;
    }
    
}

@media screen and (max-width: 1600px) {
    .card-quem-somos {
        margin-top: -270px;
        margin-left: 530px;
        scale: 85%;
    }

    .card-o-que-é {
        margin-top: 367px;
        margin-left: 1px;
        scale: 85%;
    }

    .card-benefícios {
        margin-top: 370px;
        margin-left: 530px;
        scale: 85%;
    }

    .card-sucesso-microsoft-h2 {
        margin-top: 420px;

    }

    .card-sucesso-microsoft {
        margin-top: -150px;
        margin-left: 1px;
        scale: 85%;

    }
    
    .card-sucesso-dominos-pizza-h2 {
        margin-top: 370px 

    }

    .card-sucesso-dominos-pizza-h2 h2 {
        margin-left: -100px;
    }

    .card-sucesso-dominos-pizza {
        margin-top: -20px;
        margin-left: 530px;
        scale: 85%;
    }
    
    .card-sucesso-blue-wolf-h2 {
        margin-top: 290px;

    }

    .card-sucesso-blue-wolf {
        margin-left: 1px;
        scale: 85%;
    }
    
    .carousel-grupo {
        margin-top: 350px;
        margin-left: 530px;
        scale: 85%;
    }
}

@media screen and (max-width: 1440px) {
    .banner-logo {
        margin-top: -100px;
    }

    .card-quem-somos {
        scale: 80%;
        margin-top: -310px;
        margin-left: 430px;
    }

    .card-o-que-é {
        scale: 80%;
        margin-top: 275px;
        margin-left: -78px;
    }

    .card-benefícios {
        scale: 80%;
        margin-top: 280px;
        margin-left: 430px;
    }

    .card-sucesso-microsoft-h2 {
        margin-top: 320px;

    }

    .card-sucesso-microsoft-h2 h2 {
        margin-left: -170px;
    }

    .card-sucesso-microsoft {
        scale: 80%;
        margin-left: -78px;
    }
    
    .card-sucesso-dominos-pizza-h2 {
        margin-top: 280px; 
    }

    .card-sucesso-dominos-pizza-h2 h2 {
        margin-left: -190px;
    }

    .card-sucesso-dominos-pizza {
        scale: 80%;
        margin-left: 430px;
    }

    .card-sucesso-blue-wolf-h2 {
        margin-top: 200px;
    }

    .card-sucesso-blue-wolf-h2 h2 {
        margin-left: -170px;
    }

    .card-sucesso-blue-wolf {
        scale: 78%;
        margin-left: -78px;
    }

    .carousel-grupo {
        scale: 80%;
        margin-top: 260px;
        margin-left: 430px;
    }

    .contatos-p {
        margin-top: 200px;
    }

    .contatos-p p {
        font-size: 25px;
    }

    .form-card {
        margin-top: -1155px;
        margin-left: -40px;
    }

    .button-e-redes {
        scale: 90%;
        margin-top: -250px;
    }
}

@media screen and (max-width: 1400px) {
    .banner-logo {
        margin-left: -100px;

    }

    .card-quem-somos {
        margin-top: -344px;
        margin-left: 400px;
        scale: 75%;
    }

    .card-o-que-é {
        margin-top: 250px;
        scale: 75%;
    }

    .card-benefícios {
        margin-top: 250px;
        margin-left: 400px;
        scale: 75%;
    }

    .card-sucesso-microsoft-h2 {
        margin-top: 300px;

    }

    .card-sucesso-microsoft {
        scale: 75%;
    }

    .card-sucesso-dominos-pizza-h2 {
        margin-top: 255px;

    }

    .card-sucesso-dominos-pizza-h2 h2 {
        margin-left: -227px;
    }

    .card-sucesso-dominos-pizza {
        scale: 75%;
        margin-left: 400px;
    }

    .card-sucesso-blue-wolf-h2 {
        margin-top: 176px;

    }
    
    .card-sucesso-blue-wolf { 
        scale: 75%;
    }

    .carousel-grupo {
        scale: 75%;
        margin-top: 240px;
        margin-left: 400px;
    }

    .button-e-redes {
        margin-left: -265px;
        margin-top: -353px;
    }


}

@media screen and (max-width: 1366px) {
    .banner-logo {
        margin-left: -100px;

    }

    .card-quem-somos {
        margin-top: -375px;
        margin-left: 358px;
        scale: 75%;     
        
    }

    .card-o-que-é {
        margin-top: 233px;
        scale: 75%;
    }

    .card-benefícios {
        margin-top: 230px;
        margin-left: 358px;
        scale: 75%;
    }

    .card-sucesso-microsoft-h2 {
        margin-top: 280px;

    }

    .card-sucesso-microsoft {
        scale: 75%;
    }

    .card-sucesso-dominos-pizza-h2 {
        margin-top: 245px;
        font-size: 25px;

    }

    .card-sucesso-dominos-pizza-h2 h2 {
        margin-left: -227px;
        margin-top: -60px;
    }

    .card-sucesso-dominos-pizza {
        scale: 75%;
        margin-left: 358px;
    }

    .card-sucesso-blue-wolf-h2 {
        margin-top: 150px;

    }
    
    .card-sucesso-blue-wolf { 
        scale: 75%;
    }

    .carousel-grupo {
        scale: 75%;
        margin-top: 220px;
        margin-left: 400px;
    }

    .button-e-redes {
        margin-left: -265px;
        margin-top: -353px;
    }
}

@media screen and (max-width: 1280px) {
    .banner-logo {
        scale: 70%;
        margin-left: -200px;
    }

    .card-quem-somos {
        scale: 65%;
        margin-top: -450px;
        margin-left: 300px;
    }

    .card-o-que-é {
        scale: 65%;
        margin-top: 180px;
    }

    .card-benefícios {
        scale: 65%;
        margin-top: 180px;
        margin-left: 300px;
    }

    .card-sucesso-microsoft-h2 {
        margin-top: 290px;
        font-size: 25px;
    }

    .card-sucesso-microsoft {
        scale: 65%;
        margin-top: -205px;
    }

    .card-sucesso-dominos-pizza-h2 {
        margin-top: 250px;

    }

    .card-sucesso-dominos-pizza-h2 h2 {
        margin-left: -260px;
    }
    
    .card-sucesso-dominos-pizza {
        scale: 65%;
        margin-left: 300px;
        margin-top: -80px;
    }

    .card-sucesso-blue-wolf-h2 {
        font-size: 25px;
        margin-top: 205px;
    }

    .card-sucesso-blue-wolf-h2 h2 {
        margin-left: -160px;
    }

    .card-sucesso-blue-wolf {
        scale: 65%;
        margin-top: -115px;
    }

    .carousel-grupo {
        scale: 65%;
        margin-top: 170px;
        margin-left: 300px;
    }

    .form-card {
        scale: 60%;
        margin-top: -1230px;
    }

    .button-e-redes {
        margin-top: -520px;
        scale: 80%;
    }

    .logo-e-informações {
        scale: 70%;
    }
}

@media screen and (max-width: 1152px) {
    .card-quem-somos {
        margin-top: -566px;
        margin-left: 200px;
        scale: 60%;
    }

    .card-o-que-é {
        scale: 60%;
        margin-top: 107px;
        margin-left: -135px;
    }

    .card-benefícios {
        scale: 60%;
        margin-top: 112px;
        margin-left: 200px;
    }

    .card-sucesso-microsoft-h2 {
        margin-top: 250px;

    }

    .card-sucesso-microsoft-h2 h2 {
        margin-left: -275px;
    }

    .card-sucesso-microsoft {
        scale: 60%;
        margin-top: -245px;
        margin-left: -135px;
    }

    .card-sucesso-dominos-pizza-h2 {
        margin-top: 214px;
    }

    .card-sucesso-dominos-pizza-h2 h2 {
        margin-left: -350px;
    }

    .card-sucesso-dominos-pizza {
        scale: 60%;
        margin-top: -115px;
        margin-left: 200px;
    }

    .card-sucesso-blue-wolf-h2 {
        margin-top: 145px;
    }

    .card-sucesso-blue-wolf-h2 h2 {
        margin-left: -260px;
    }
    
    .card-sucesso-blue-wolf {
        scale: 60%;
        margin-top: -131px;
        margin-left: -135px;
    }

    .carousel-grupo {
        scale: 60%;
        margin-top: 100px;
        margin-left: 200px;
    }

    .form-card {
        scale: 50%;
        margin-top: -1288px;
        margin-left: -135px;
    }

    .button-e-redes {
        scale: 60%;
        margin-left: -145px;
        margin-top: -675px;
        .container-grid {
            max-width: none;
        }
    }

    .icones-redes {
        margin-left: 1600px;
    }

    .logo-e-informações {
        margin-top: -475px;
    }

}

@media screen and (max-width: 1024px) {
    
}
/*@media screen and (max-width: 1700px) {

    .body {
        background-size: 85%;
    }

    .card-quem-somos {
        margin-right: 0px;
    }

    .card-quem-somos {
        scale: 85%;
    }
    
    .card-o-que-é {
        scale: 85%;
    }

    .card-benefícios {
        scale: 85%;
    }

    .card-sucesso-microsoft {
        scale: 85%;
    }

    .card-sucesso-dominos-pizza {
        scale: 85%;
    }

    .card-sucesso-blue-wolf {
        scale: 85%;
    }

    .carousel-grupo {
        scale: 85%;
    }

    .form-card {
        scale: 85%;
    }
}

@media screen and (max-width: 1650px) {
    .card-quem-somos {
        margin-left: 550px;
    }

    .card-benefícios {
        margin-left: 550px;
    }

    .card-sucesso-dominos-pizza {
        margin-left: 550px;
    }

    .carousel-grupo {
        margin-left: 550px;
    }

    .button-e-redes {
        margin-left: 100px;
        scale: 80%;
    }

    .logo-e-informações {
        scale: 90%;
    }
}

@media screen and (max-width: 1570px) {
    .card-quem-somos {
        margin-left: 500px;
        scale: 80%;
    }

    .card-benefícios {
        margin-left: 500px;
        scale: 80%;
    }

    .card-sucesso-dominos-pizza {
        margin-left: 500px;
        scale: 80%;
    }

    .carousel-grupo {
        margin-left: 500px;
        scale: 80%;
    }

    .button-e-redes {
        margin-left: 20px;
        scale: 80%;
    }
}

@media screen and (max-width: 1500px) {
    .card-quem-somos {
        margin-left: 500px;
        scale: 70%;
    }

    .card-benefícios {
        margin-left: 500px;
        scale: 70%;
    }

    .card-sucesso-dominos-pizza {
        margin-left: 500px;
        scale: 70%;
    }

    .carousel-grupo {
        margin-left: 500px;
        scale: 70%;
    }

    .button-e-redes {
        margin-left: 20px;
        scale: 70%;
    }

    .card-sucesso-dominos-pizza-h2 h2 {
        
        margin-left: -100px;

    } 

    .form-card {
        margin-top: -1050px;
    }

    .contatos-p {
        margin-top: 400px;
    }

}

@media screen and (max-width: 1440px) {

    body {
        background-size: 100%;
    }
    .card-quem-somos {
        margin-left: 450px;
        scale: 70%;
    }

    .card-benefícios {
        margin-left: 450px;
        scale: 70%;
    }

    .card-sucesso-dominos-pizza {
        margin-left: 450px;
        scale: 70%;
    }

    .carousel-grupo {
        margin-left: 450px;
        scale: 70%;
    }
}