@font-face {
    font-family: 'ReadexPro';
    src: url(fonts/Readex_Pro/ReadexPro-VariableFont_HEXP\,wght.ttf);
    }

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

:root {
    --azul-transparente: #47749450;
    --azul: #477494;
    --cor-para-header: #D7D7D9;
    --cor-para-body: #E2E7EB;
    --cor-para-botao-sabia-mais: #961E1E90;
    --tamanho-de-card-width: 1088px;
    --tamanho-de-card-height: 556px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {
    scroll-behavior: smooth;

    background-color: var(--cor-para-body);

}

body {
    background-image: url(img/bannerplanofundotudo.svg);

    background-repeat: no-repeat;


}

header {
    padding-left: 150px;
    padding-right: 150px;

    background-color: var(--cor-para-header);

}

.container-grid {
    max-width: 1720px;

    margin: 0 auto;
    
}

.menu {
    width: px;
    height: 100px;


    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.menu a {
    color: black;

    font-size: 20px;
    font-family: "ReadexPro";

    text-decoration: none;

    margin-top: 40px;
    margin-bottom: 40px;

}

.banner-logo img {
    margin-top: 200px;
}

#sobre {
    margin-top: 600px;
}

.card-quem-somos {
    margin-left: 632px;

    background-color: var(--azul-transparente);

    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);

    border-radius: 30px;

    padding-top: 42px;
    padding-left: 325px;
    padding-right: 300px;
    
}

.card-quem-somos h2 {
    display: flex;
    justify-content: center;

    font-size: 36px;
    font-family: "ReadexPro";

}

.card-quem-somos p {
    display: flex;
    justify-content: center;

    font-size: 25px;
    font-family: "Roboto";

    margin-top: 88px;

    text-align: center;

}

.card-quem-somos img {
    margin-left: -325px;
    margin-right: -284px;
    margin-top: -375px;

}

.card-o-que-é {
    margin-top: 560px;

    background-color: var(--azul-transparente);

    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);

    border-radius: 30px;

    padding-top: 24px;

}

.card-o-que-é h2 {
    display: flex;
    justify-content: center;

    font-size: 36px;
    font-family: "ReadexPro";

}

.grupo-p-o-que-é p {
    font-size: 25px;
    font-family: "Roboto";

}

.Criamos-desafios-com-regras img {
    margin-left: 24px;
    margin-right: 24px;
}

.Criamos-desafios-com-regras {
    display: flex;
    align-items: center;

    margin-top: 24px;
    margin-bottom: 18px;
}

.Enviamos-notificações img {
    margin-left: 20px;
    margin-right: 24px;

    scale: 90%;
}

.Enviamos-notificações {
    display: flex;
    align-items: center;

    margin-bottom: 18px;
}

.Criamos-uma-galeria {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    stroke-width: 10px;
}

.Criamos-uma-galeria img {
    margin-left: 26px;
    margin-right: 24px;
}

.O-participante-pode {
    display: flex;
    align-items: center;

    margin-bottom: 8px;
}

.O-participante-pode img {
    margin-left: 16px;
    margin-right: 24px;
}

.Estimulamos-a-competição {
    display: flex;
    align-items: center;
}

.Estimulamos-a-competição img {
    margin-left: 19px;
    margin-right: 24px;
}

.card-benefícios {
    margin-top: 525px;
    margin-left: 632px;

    background-color: var(--azul-transparente);
    border-radius: 30px;
    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);

    padding-top: 24px;
}

.card-benefícios h2 {
    display: flex;
    justify-content: center;

    font-size: 36px;
    font-family: 'ReadexPro';

    
}

.primeiro-ul {
    margin-top: 24px;
}

.primeiro-ul {
    margin-left: 300px;
    margin-bottom: 20px;
}


.card-benefícios li {
    font-size: 25px;
    font-family: 'Roboto';

    margin-bottom: 5px;
    
}

.card-sucesso-microsoft-h2 {
    margin-top: 480px;

    width: 1090px;
    
    height: 80px;

    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    font-size: 36px;
    font-family: 'ReadexPro';

}

.card-sucesso-microsoft {

    background-color: var(--azul-transparente);

    border-radius: 30px;

    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);
}

.card-sucesso-microsoft img {
    width: 1088px;
    height: 556px;

    margin-top: -125px;
}

.card-sucesso-microsoft p {
    font-size: 25px;
    font-family: 'Roboto';

    margin-top: -115px;
    margin-left: 24px;
    margin-right: 24px;
}

.card-sucesso-microsoft button {
    background-color: var(--cor-para-botao-sabia-mais);
    
    width: 165px;
    height: 51px;

    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    border: none;

    font-size: 25px;
    font-family: 'Roboto';

    margin-left: 923px;
    margin-top: 32px;
}

.card-sucesso-dominos-pizza-h2 {
    margin-top: 440px;

    margin-left: 960px;

    margin-bottom: 24px;

    font-size: 36px;
    font-family: 'ReadexPro';

}

.card-sucesso-dominos-pizza {

    margin-left: 632px;
    
    background-color: var(--azul-transparente);

    border-radius: 30px;

    width: var(--tamanho-de-card-width);
    height: 557px;


}

.card-sucesso-dominos-pizza img {
    width: 1088px;
    height: 556px;

    margin-top: -130px;


}

.card-sucesso-dominos-pizza p {
    font-size: 25px;
    font-family: 'Roboto';

    margin-top: -125px;
    margin-left: 24px;
    margin-right: 24px;

}

.card-sucesso-dominos-pizza button {
    background-color: var(--cor-para-botao-sabia-mais);

    width: 165px;
    height: 51px;

    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    border: none;

    font-size: 25px;
    font-family: 'Roboto';

    margin-left: 923px;
    margin-top: -13px;

}

.card-sucesso-blue-wolf-h2 {
    margin-top: 480px;

    width: 1090px;
    height: 80px;

    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    font-size: 36px;
    font-family: 'ReadexPro';
}

.card-sucesso-blue-wolf {
    background-color: var(--azul-transparente);

    border-radius: 30px;

    width: var(--tamanho-de-card-width);
    height: var(--tamanho-de-card-height);
}

.card-sucesso-blue-wolf img {
    width: 1088px;
    height: 556px;

    margin-top: -125px;
}

.card-sucesso-blue-wolf p {
    font-size: 25px;
    font-family: 'Roboto';

    margin-top: -90px;
    margin-left: 24px;
    margin-right: 24px;
}

.card-sucesso-blue-wolf button {
    background-color: var(--cor-para-botao-sabia-mais);
    
    width: 165px;
    height: 51px;

    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    border: none;

    font-size: 25px;
    font-family: 'Roboto';

    margin-left: 923px;
    margin-top: 7px;
}

.grupo-de-cases-card {
    width: 1134px;
    height: 638px;
    background-color: var(--azul-transparente);
    border-radius: 30px;
}

.carousel-grupo {
    width: 1134px;
    height: 638px;

    background-color: var(--azul);

    border-radius: 30px;

    margin-left: 760px;

    margin-top: 480px;
  }

.contatos-p {
    width: 1000px;
    height: 1150px;

    margin-top: 330px;
}

.contatos-p p {
    font-size: 36px;
    font-family: 'Roboto';

}

.form-card {
    background-color: var(--azul);

    background-image: url(img/banner-img-para-contatos.svg);

    background-repeat: none;

    background-position: center;

    border-radius: 30px;

    width: 1000px;
    height: 1100px;

    margin-top: -950px;

}
.form-card img {
    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: none
    ;
}

.form-card {
    padding-top: 80px;
    padding-left: 107px;
    padding-right: 107px;
}

.campo, .campo-textarea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 24px;
}

.campo label, .campo-textarea label {
    font-size: 25px;
    font-family: 'Roboto';

    margin-bottom: 24px;

    color: white;


}

.campo input {
    width: 787px;
    height: 100px;

    display: flex;
    justify-content: center;

    font-size: 25px;
    font-family: 'Roboto';

    border-radius: 30px;

    border-color: #58585953;
    border-width: 4px;

    padding-left: 48px;

    outline: none;



}
/* Estilização para remover os spin buttons (setinhas) dos input[type='number'] */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.campo input:focus, .campo-textarea textarea:focus {
    outline: solid 4px #71B8EB;
    border-width: 4px;
    border: none;
}

.campo-textarea textarea {
    width: 787px;
    height: 250px;

    display: flex;
    justify-content: center;

    font-size: 25px;
    font-family: 'Roboto';

    border-radius: 30px;

    border-color: #58585953;
    border-width: 4px;

    padding-left: 48px;
    padding-top: 25px;

    outline: none;

    resize: none;

}

.form-card button {
    width: 400px;
    height: 100px;

    background-color: #71B8EB;

    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 36px;
    font-family: 'Roboto';

    margin-left: 193px;
    margin-top: 30px;

    border: none;

    cursor: pointer;




    transition: background-color 500ms ease;

}

.form-card button:hover {
    background-color: #294358;
}

.footer-button-text {

    display: flex;
    flex-direction: column;

    margin-left: 1333px;

    margin-top: -100px;

}

.footer-button-text a {
    margin-top: 50px;

    font-size: 30px;
    font-family: 'Roboto';

    color: white;

    text-decoration: none;
}

.icones-redes {
    margin-left: 1000px;
    margin-top: 50px;

    display: flex;
    align-items: center;

    
}

.icones-redes a {

    display: flex;
    align-items: normal;


}

/* Acho q vai ficar .icones-redes a:hover */

.icones-redes a:hover {
    fill: #71B8EB;
}

.logo-e-informações {
    margin-top: -200px;
}


.informações-footer p {
    font-size: 30px;
    font-family: 'Roboto';
    color: white;

    text-decoration: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.info-email-footer img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}